body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// padding: 30px 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	&_show {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;

		.popup__content {
			visibility: visible;
			transform: scale(1);
		}
	}

	// .popup__wrapper
	&__wrapper {
		min-height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	// .popup__content
	&__content {
		flex: 1;
		visibility: hidden;
		transform: scale(0);
		// background-color: var(--bg-color);
		background-color: $White;
		width: 100%;
		// max-width: rem(480);
		border-radius: rem(1);
		transition: $transition ease transform 0s;
		position: relative;
		display: grid;
		align-content: center;
		@include adaptiveValue("padding-top", 40, 16);
		@include adaptiveValue("padding-bottom", 40, 16);

		.lock & {
			visibility: visible;
		}
	}

	// .popup__title
	&__title {
		@include adaptiveValue("font-size", 28, 18);
		line-height: math.div(42, 28);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 20);
		}
	}

	// .popup__close-wrapper
	&__close-wrapper {
		width: 100%;
		max-width: rem($maxWidthContainer);
		margin: 0 auto;
		display: flex;
		padding: 0 rem(math.div($containerPadding, 2));

		@media (min-width: $mobile) {
			justify-content: flex-end;
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(32);
		}
	}

	// .popup__close
	&__close {
		// color: $DGrey;
		display: flex;
		align-items: center;
		outline: 0 !important;
		@include adaptiveValue("font-size", 40, 24);
		line-height: math.div(60, 40);
		// color: var(--textColor);
		color: $mainColor;
		opacity: 0.2;

		@media (min-width: $mobile) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			@include adaptiveValue("font-size", 64, 40);
			@include adaptiveValue("margin-right", 40, 16);
		}

		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;

			&:hover {
				opacity: 1;
			}
		}

		&:focus-visible {
			outline: 0;
		}
	}

	// .popup__body
	&__body {
		max-width: rem(466);
		margin-left: auto;
		margin-right: auto;
		padding: 0 rem(math.div($containerPadding, 2));
	}
}

.thanks {
	// .thanks__title
	&__title {
	}

	// .thanks__text
	&__text {
	}

	// .thanks__close
	&__close {
		text-decoration: underline var(--text-color) from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;
		outline: 0;
		
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline transparent from-font;
			}
		}
	}

	.popup {
		// .popup__wrapper
		&__wrapper {
		}

		// .popup__content
		&__content {
		}

		// .popup__body
		&__body {
			max-width: rem(663);
			display: grid;
			justify-items: flex-start;
			@include adaptiveValue("row-gap", 32, 24);
		}
	}
}
