//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form__input {
	padding-top: rem(8);
	padding-bottom: rem(8);
	border-radius: 0 !important;
	width: 100%;
	display: block;
	background-color: transparent;
	outline: 0;
	border-bottom: rem(1) solid $Grey;
	font-size: rem(16);

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
	&::placeholder {
		transition: $transition ease opacity 0s;
	}
}
textarea.form__input {
	resize: none;
	padding-bottom: 0;
}
