//header ====================================================================================================
.logo {
	// .logo__link
	&__link {
	}
	a.logo__link {
		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	svg {
		path {
			fill: var(--text-color);
			transition: $transition ease fill 0s;
		}
	}
}

.social {
	// .social__item
	&__item {
	}
}

.icon-menu {
	position: relative;
	z-index: 200;

	@media (any-hover: hover) {
		transition: $transition ease opacity 0s;

		&:hover {
			opacity: 0.6;
		}
	}
}

.burger {
	// .burger__cube
	&__cube {
		fill: var(--text-color);
		transition: $transition ease all 0s;

		// .burger__cube_first
		&_first {
			.menu-open & {
				transform: translate(rem(14), rem(14));
			}
		}
		// .burger__cube_second
		&_second {
			.menu-open & {
				transform: translate(rem(-14), rem(14));
				opacity: 0;
			}
		}
		// .burger__cube_third
		&_third {
			.menu-open & {
				transform: translateY(rem(-14));
			}
		}
		// .burger__cube_fourth
		&_fourth {
			.menu-open & {
				transform: translateY(rem(-14));
			}
		}
	}
}

.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
		position: fixed;
		z-index: 150;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		top: 0;
		right: 0;
		background-color: var(--bg-color);
		height: calc(var(--vh, 1vh) * 100);
		min-height: calc(var(--vh, 1vh) * 100);
		overflow-y: auto;
		padding: rem(160) rem(15);
		align-items: flex-start;
		align-content: center;
		justify-items: center;
		scrollbar-width: thin;
		transition: 0.5s ease all 0s;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		@media (max-height: em(670)) {
			align-content: flex-start;
		}

		&::before {
			content: "";
			position: fixed;
			display: block;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			top: 0;
			right: 0;
			width: 100%;
			height: rem(160);
			background-color: var(--bg-color);
			transition: 0.5s ease all 0s;
		}

		.menu-open & {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transition: 0.5s ease all 0s;

			&::before {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}

	// .menu__row
	&__row {
		max-width: rem(782);
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
		justify-content: center;
		justify-items: center;
		column-gap: rem(200);

		ul {
			display: grid;
			align-content: flex-start;
			row-gap: rem(40);
		}

		li {
			font-weight: 600;
			font-size: rem(60);
			line-height: math.div(90, 60);
		}

		a {
			@media (any-hover: hover) {
				transition: $transition ease opacity 0s;

				&:hover {
					opacity: 0.6;
				}
			}
		}
	}

	.social {
		max-width: rem(1816);
		margin-left: auto;
		margin-right: auto;
		padding: 0 rem(math.div($containerPadding, 2));

		&:not(:first-child) {
			margin-top: rem(96);
		}

		// .social__list
		&__list {
			margin: rem(-15);
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		// .social__item
		&__item {
			padding: rem(15);
		}
	}
}

.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 140;
	background-color: var(--bg-color);
	padding-top: rem(15);
	padding-bottom: rem(15);
	transition: 0.5s ease background-color 0s;

	@media (min-height: em(700)) {
		padding-top: rem(51);
		padding-bottom: rem(51);
	}

	// .header__container
	&__container {
	}

	// .header__row
	&__row {
		display: flex;
		align-items: center;
	}

	// .header__logo
	&__logo {
	}

	// .header__right
	&__right {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	// .header__menu
	&__menu {
	}
}

//Burger
