//header ====================================================================================================
.logo {
	display: flex;

	// .logo__link
	&__link {
		display: flex;
	}
	a.logo__link {
		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	svg {
		@include adaptiveValue("max-width", 138, 80);

		path {
			fill: var(--text-color);
			transition: $transition ease fill 0s;
		}
	}
}

.social {
	// .social__list
	&__list {
		@include adaptiveValue("margin", -15, -10);
		display: flex;
		align-items: center;
	}

	// .social__item
	&__item {
		@include adaptiveValue("font-size", 38, 32);
		@include adaptiveValue("padding", 15, 10);

		a {
			opacity: 0.2;

			@media (any-hover: hover) {
				transition: $transition ease opacity 0s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.icon-menu {
	display: flex;
	position: relative;
	z-index: 200;

	svg {
		@include adaptiveValue("max-width", 42, 28);
	}

	@media (any-hover: hover) {
		transition: $transition ease opacity 0s;

		&:hover {
			opacity: 0.6;
		}
	}
}

.burger {
	// .burger__cube
	&__cube {
		fill: var(--text-color);
		transition: $transition ease all 0s;

		// .burger__cube_first
		&_first {
			.menu-open & {
				transform: translate(rem(14), rem(14));
			}
		}
		// .burger__cube_second
		&_second {
			.menu-open & {
				transform: translate(rem(-14), rem(14));
				opacity: 0;
			}
		}
		// .burger__cube_third
		&_third {
			.menu-open & {
				transform: translateY(rem(-14));
			}
		}
		// .burger__cube_fourth
		&_fourth {
			.menu-open & {
				transform: translateY(rem(-14));
			}
		}
	}
}

.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
		position: fixed;
		z-index: 150;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		top: 0;
		right: 0;
		background-color: var(--bg-color);
		height: calc(var(--vh, 1vh) * 100);
		min-height: calc(var(--vh, 1vh) * 100);
		overflow-y: auto;
		padding: rem(160) rem(15);
		@include adaptiveValue("padding-top", 160, 80);
		@include adaptiveValue("padding-bottom", 160, 80);
		display: grid;
		grid-template-rows: 1fr auto;
		scrollbar-width: thin;
		transition: 0.5s ease all 0s;

		@media (max-height: rem(700)) {
			@include adaptiveValue("padding-top", 83, 76);
			@include adaptiveValue("padding-bottom", 83, 76);
		}

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		&::before {
			content: "";
			position: fixed;
			display: block;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			top: 0;
			right: 0;
			width: 100%;
			@include adaptiveValue("height", 160, 80);
			background-color: var(--bg-color);
			transition: 0.5s ease all 0s;

			@media (max-height: rem(700)) {
				@include adaptiveValue("height", 83, 76);
			}
		}

		.menu-open & {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transition: 0.5s ease all 0s;

			&::before {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}

	// .menu__row
	&__row {
		width: 100%;
		max-width: rem(782);
		margin-left: auto;
		margin-right: auto;
		display: grid;
		align-content: flex-start;
		// grid-template-columns:; repeat(auto-fit, minmax(rem(200), 1fr));
		@include adaptiveValue("column-gap", 200, 100, 1920, 992, 1);
		@include adaptiveValue("row-gap", 30, 16);

		@media (min-width: $mobileM) {
			align-content: center;
			grid-template-columns: repeat(2, 1fr);
		}

		ul {
			display: grid;
			align-content: flex-start;
			row-gap: inherit;
		}

		li {
			font-weight: 600;
			@include adaptiveValue("font-size", 46, 26, 992, 320, 1);
			line-height: math.div(90, 60);
		}

		a {
			@media (any-hover: hover) {
				transition: $transition ease opacity 0s;

				&:hover {
					opacity: 0.6;
				}
			}
		}
	}

	.social {
		width: 100%;
		max-width: rem(1816);
		margin-left: auto;
		margin-right: auto;
		// padding: 0 rem(math.div($containerPadding, 2));

		&:not(:first-child) {
			@include adaptiveValue("margin-top", 56, 48);
		}

		// .social__list
		&__list {
			@media (min-width: $mobileM) {
				justify-content: flex-end;
			}
		}

		// .social__item
		&__item {
		}
	}
}

.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 140;
	background-color: var(--bg-color);
	@include adaptiveValue("padding-top", 15, 10);
	@include adaptiveValue("padding-bottom", 15, 10);
	transition: 0.5s ease background-color 0s;

	@media (min-height: em(700)) {
		@include adaptiveValue("padding-top", 51, 10);
		@include adaptiveValue("padding-bottom", 51, 10);
	}

	// .header__container
	&__container {
	}

	// .header__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__left,
	&__right {
	}

	// .header__left
	&__left {
		flex: 0 1 50%;
	}

	// .header__logo
	&__logo {
	}

	// .header__center
	&__center {
		flex: 1 0 60%;
	}

	// .header__right
	&__right {
		flex: 0 1 50%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	// .header__menu
	&__menu {
		opacity: 1;
	}
}

//Burger
